<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.pjt_B.mvc.model.dao.UserDao">
	<select id="selectOne" resultType="User" parameterType="Map">
		SELECT user_id, password
		FROM User
		WHERE user_id = #{userId} AND password = #{password}
	</select>
	
	<select id="selectAll" resultType="User">
		SELECT *
		FROM User
	</select>
	
	<insert id="insertUser" parameterType="User">
		INSERT INTO User (user_id, password, user_name, nick_name)
		VALUES (#{userId}, #{password}, #{userName}, #{nickName})
	</insert>
</mapper>